.auth-wrap{flex layout: "column", layout-align: "center center"}
  .logo
    %a{ui-sref: "home"} Money Monitoring
  .done
    .md-headline Пароль успешно изменен!
    .md-subhead Теперь вы можете войти под новым паролем.
    .button-wrap
      %md-button{ui-sref: "sign_in", class: "md-primary md-raised"} Войти