.auth-wrap{flex layout: "column", layout-align: "center center"}
  .logo
    %a{ui-sref: "home"} Money Monitoring
  .done
    .md-headline Восстановление пароля
    .md-subhead Для изменения пароля вам было выслано письмо на почту с дальнейшими инструкциями. Обратите внимание, что письма иногда попадают в спам.