.view-content
  %md-card{class: "md-whiteframe-2dp"}
    %md-card-header
      .md-headline Настройки профиля
    %md-card-content
      .md-title Метки
      .max-width
        %p Список меток
        .marks-list
          .mark{ng-repeat: "(key, value) in profile.marks_list"}
            %span{ng-bind: "value.name"}
            %md-button{class: "md-icon-button", ng-click: "profile.remove_mark(key, value, $event)", aria-label: "remove"} 
              %i{class: "fa fa-times"}
        %form{name: "profile.addMarkForm", class: "last-item-no-margin", ng-submit: "profile.add_mark()"}
          %md-input-container{class: "md-block"}
            %label Название метки
            %input{required type: "text", ng-model: "profile.mark.name"}
          .button-holder
            %md-button{class: "md-raised md-primary", type: "submit", aria-label: "add"} 
              Добавить
    %md-card-footer
