.auth-wrap{flex layout: "column", layout-align: "center center"}
  .logo
    %a{ui-sref: "home"} Money Monitoring
  %h2{class: "md-display-1"} Добро пожаловать
  .welcome.md-subhead Войдите или зарегистрируйтесь.
  .button-wrap
    %md-button{ui-sref: "sign_in", class: "md-primary md-raised"} Вход
    %md-button{ui-sref: "sign_up", class: "md-raised"} Регистрация
